#Build directory
build/

#Eclipse project files
.cproject
.project
.settings/

#qt-creator project files
/cpplibcrypto.creator
/cpplibcrypto.creator.user
/cpplibcrypto.config
/cpplibcrypto.files
/cpplibcrypto.includes
